body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.navbar {
    width: 1920px;
    heigth: 30px;
    background-color: #005CFF;
}

.navbar p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    margin: 0;
    width: 546px;
    heigth: 22px;
    padding-top: 4px;
    padding-left: 687px;
    padding-bottom: 4px;
    
}

.purple-rectangle {
    width: 63px;
    height: 16px;
    margin-top: 7px;
    //padding-left: 732px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    background-color: #6220C1;
    line-height: 22px;
}

.discount {
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;

}

header {
    display: flex;
    align-items: center;
    padding-top: 46px;      
    padding-left: 330px;    
}

.avanti-logo {
    margin-right: 60px;    
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    width: 594px;
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding-left: 20px;
}

.search-bar::placeholder {
    width: 193;
    height: 19;
    margin-top: 57.56px;
    padding-left: 20px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: normal;
    color: #000000;

}

.search-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 16px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

.search-message {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    padding: 8px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
    margin-left: 200px
}

.user-icon-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -12px;
    z-index: 1;
}

.categories-container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 330px;
    top: 180px;
    margin-top: -20px;
}

 .categories-icon {
    width: 14;
    height: 12;
    border-width: 2px;
}

.categories-all {
    width: 130px;
    height: 22px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    margin-top: 18px
}

.categories-department {
    width: 91px;
    height: 22px;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 22px;
    padding-left: 30px;
}

.supersale-container {
    display: flex;
    width: 1920px;
    height: 510px;
    margin-top: 50px;
    background: #E7E7EA;
}

.supersale-chair {
    width: 685px;
    height: 510px;
    margin-left: 315px;
    mix-blend-mode: Darken;

}

.supersale-text {
    width: 576px;
    height: 224px;
    margin-top: 145px;
    left: 944.97px;
}

.launch-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Nunito Sans;
    max-width: 1288px;
    height: 478px;
    padding: 0 20px;
    box-sizing: border-box;
}

.launch-options {
    display: flex;
    gap: 20px;
}

.launch-header {
    display: flex;
    justify-content: space-between;
}

.launch-title {
    width: 50%;
    height: 27px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.launch-more {
    width: 63px;
    height: 20px;
    top: 3809px;
    left: 1527px;
}

.shirt-card {
    width: 238px;
    position: relative;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.new-text {
    position: absolute;
    align-items: center;
    width: 35px;
    height: 18px;
    top: 7px;
    left: 8px;
    background-color: #00264E;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    z-index: 10;
}

.shirt-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    position: relative;
}

.launch-text {
    width: 222px;
    height: 39px;
    top: 244px;
    left: 8px;
    margin-bottom: 0px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #303030;   
}

.prices-descount {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.price-100 {
    font-weight: 400 ;
    font-size: 12px;
    text-decoration: line-through;
    color: #303030;
}

.price-79 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.price-7 {
    font-weight: 400;
    font-size: 12px;
    color: #303030;
    margin-top: 5px;
    margin-bottom: 16px;
}

.bold {
    font-weight: 700;
}

.off10 {
    background-color: #5EC0BE;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    white-space: nowrap;
}

.buy-button {
    width: 100%;
    padding: 10px 24px;
    background: #005CFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-button:hover {
    background: #0047CC;
}

.buy-text {
    width: 57px;
    height: 20px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.carrossel-wrapper {
    overflow: hidden; 
}

.carrossel {
    position: relative;
    width: 100%;
    margin: 0 auto;
       
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; 
        
}

.section {
    flex: 0 0 100%;
    display: flex; 
    justify-content: space-between;
    box-sizing: border-box;
}

.slide {
    width: 0px;
    flex: 0 0 calc(20% - 16px);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px; 
}

.shirt-card {
    width: 200px; 
    position: relataive;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.carrossel-prev, .carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    border-radius: 50%;
    border: 1px solid #005CFF;
    width: 30px;
    height: 30px;
}

.carrossel-prev { 
    left: -15px;
}

.carrossel-next { 
    right: -15px; 
}

.carrossel-prev[disabled], .carrossel-next[disabled] {
    opacirty: 0,3;
    cursor: not-allowed;
}

.carrossel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.carrossel-indicators button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #838383;
    transition: background-color 0.3s ease;
}

.carrossel-indicators button:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.carrossel-indicators .active-indicator {
    background-color: #303030;
}

.mug-container {
    display: flex;
    margin-top: 150px;
    margin-left: 350px;
    gap: 40px;
}

.mug-background {
    width: 652px;
    height: 750px;
    margin-top: 150px;
    margin-left: 350px;
    background-color: #C2C2C2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mug {
    width: 523px;
    height: 528px;
    margin-top: 70px;
    trasnform: rotate(7.54deg);
}

.mug-text-container {
    margin-top: 100px;
    max-width: 400px;

}

.mug-title {
    width: 487px;
    height: 42px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
}

.mug-description {
    width: 487px;
    height: 225px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
}

.division-container {
    display: flex;
    width: 100%;
    height: 819px;
    margin-top: 50px;
    background-color: #DEDEDE;
}

.info-and-image {
    display: flex;
    align-items: center;
    gap: 40px;
}

.localization-info h2 {
    width: 481px;
    height: 42px;
    margin-top: 10px;
    margin-left: 371px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #4F4F4F;
}

.localization-info p {
    width: 360px;
    height: 125px;
    top: 92px;
    left: 113px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: #4F4F4F;   
}

.localization-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 374px;
}

.map-bin-background {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #005CFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-pin {
    width: 35px;
    height: 35px;
}

.contact-container {
    position: relative;
    display: inline-block;
    margin-top: 100px;
}

.contact-container img {
    display: block;
    width: 100%;
    height: 660px;
}

.contact-disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    width: 100%;
    height: 132px;
    background-color: #005CFF;
    font-family: Nunito Sans;
    font-weight: 200;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.contact-disclaimer p {
    margin-top: 45px;
}

.newslatter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.newslatter-container h3 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    
}

.newslatter-container span {
    color: #005CFF;
}

.newslatter-form-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1260px;
    height: 220px;
    top: 54px;
    border-radius: 8px;
    background-color: #DEDEDE;
}

.newslatter-form {
    display: flex;
    align-items: center;
    width: 1031px;
    height: 48px;
    gap: 24px;
}

.newslatter-form #name, #email {
    width: 280px;
    height: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 0 24px;
}

input::placeholder {
    width: 102px;
    height: 19px;
    top: 15px;
    left: 24px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #303030;
    padding-left: 24px;
}

.form-actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 24px;
}

.checkbox-form {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
    white-space: nowrap;
}

.checkbox-form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    background-color: white;
}

.checkbox-form p {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #656565;
}

.checkbox-form span {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: #656565;
}

.register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 100%;
    border-radius: 8px;
    gap: 10px;
    background-color: #005CFF;
    color: #FFFFFF;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.register-background p {
    margin: 0;
    padding: 0;
}