body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 1920px;
    heigth: 30px;
    background-color: #005CFF;
}

.navbar p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    margin: 0;
    width: 546px;
    heigth: 22px;
    padding-top: 4px;
    padding-left: 687px;
    padding-bottom: 4px;
    
}

.purple-rectangle {
    width: 63px;
    height: 16px;
    margin-top: 7px;
    //padding-left: 732px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    background-color: #6220C1;
    line-height: 22px;
}

.discount {
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;

}

header {
    display: flex;
    align-items: center;
    padding-top: 46px;      
    padding-left: 330px;    
}

.avanti-logo {
    margin-right: 60px;    
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    width: 594px;
    height: 40px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding-left: 20px;
}

.search-bar::placeholder {
    width: 193;
    height: 19;
    margin-top: 57.56px;
    padding-left: 20px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: normal;
    color: #000000;

}

.search-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 16px; 
    top: 50%; 
    transform: translateY(-50%); 
    pointer-events: none; 
}

.user-info {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
    margin-left: 200px
}

.user-icon-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -12px;
    z-index: 1;
}

.categories-container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 330px;
    top: 180px;
    margin-top: -20px;
}

 .categories-icon {
    width: 14;
    height: 12;
    border-width: 2px;
}

.categories-all {
    width: 130px;
    height: 22px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    margin-top: 18px
}

.categories-department {
    width: 91px;
    height: 22px;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 22px;
    padding-left: 30px;
}

.supersale-container {
    display: flex;
    width: 1920px;
    height: 510px;
    margin-top: 50px;
    background: #E7E7EA;
}

.supersale-chair {
    width: 685px;
    height: 510px;
    margin-left: 315px;
    mix-blend-mode: Darken;

}

.supersale-text {
    width: 576px;
    height: 224px;
    margin-top: 145px;
    left: 944.97px;
}